<nav class="navbar navbar-expand-lg navbar-light" style="background-color:white;">
  <a class="navbar-brand" href="#">
  <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" width="40" height="40" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" style="margin-left: 25%;">
      <a class="nav-item nav-link active" href=""><i class="fas fa-home fa-lg"></i> Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link disabled" disabled><i class="fas fa-bolt fa-lg"></i> Moments</a>
      <a class="nav-item nav-link disabled" disabled><i class="fas fa-bell fa-lg"></i> Notifications</a>
      <a class="nav-item nav-link disabled" disabled><i class="fas fa-envelope fa-lg"></i> Messages</a>
    </div>
  </div>
</nav>
<div class="card text-right" style="width: 20rem; position:absolute;">
  <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSebCaRCvNxVnXXO4ubHKG_5-OCKvVZU7oQwVhqv5fWJD183_pE" alt="Card image cap">
  <div class="card-body">
    <img src="https://rlv.zcache.com/sudan_national_world_flag_square_sticker-r4b85dd6310354e5aaac49098c9b94c68_v9wf3_8byvr_324.jpg" height="140px" width="140px" style="border-radius:70px; border: 4px solid #fff; margin-top: -80px; float: left;"/>
    <%= link_to twitter_sudan_path do %><h5 class="card-title">Sudan <i class="fas fa-check-circle" style="color:#45d9fd;"></i></h5><% end %>
    <%= link_to twitter_sudan_path do %><h6 class="card-subtitle mb-2 text-muted">@PKSudan</h6><% end %>
    <span class="info" style="float:left; text-align:left; display: inline-block;">
      <div class="section">
        <h6 class="desc">Tweets</h6>
        <h3 class="amount">2K</h3>
      </div>
      <div class="section">
        <h6 class="desc">Followers</h6>
        <h3 class="amount">39.5M</h3>
      </div>
      <div class="section">
        <h6 class="desc">Following</h6>
        <h3 class="amount">6</h3>
      </div>
    </span>
  </div>
</div>
<div class="card text-center ad" style="width: 20rem; position:absolute;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">- SPONSORED BY -</h6>
    <h5 class="card-title">Please give me an A Mrs. Prather</h5>
    <p class="card-text">I really tried hard please.</p>
  </div>
</div>
<div class="card tweet" style="width: 30rem;">
  <div class="card-body">
    <img src="https://cdn4.iconfinder.com/data/icons/square-world-flags/180/flag_chad_square-512.png" width="80px" height="80px" style="border-radius:70px; border: 4px solid #fff; float: left; margin-right:20px;"/><%= link_to twitter_sudan_path do %><h6 class="card-title" style="margin-top:16px;">Chad <i class="fas fa-check-circle" style="color:#45d9fd;"></i></h6><% end %><%= link_to twitter_sudan_path do %><h6 class="card-subtitle mb-2 text-muted">@BigBoyChad</h6><% end %>
    <p class="card-text" style="margin-top:40px; mar"><strong>@PKSudan</strong> look bro, let us help you with this whole Darfur thing. we'll take some of ur refugees ok?</p>
  </div>
</div>
<div class="card tweet" style="width: 30rem;">
  <div class="card-body">
    <img src="https://rlv.zcache.com/sudan_national_world_flag_square_sticker-r4b85dd6310354e5aaac49098c9b94c68_v9wf3_8byvr_324.jpg" height="80px" width="80px" style="border-radius:70px; border: 4px solid #fff; float: left; margin-right:20px;"/><%= link_to twitter_sudan_path do %><h6 class="card-title" style="margin-top:16px;">Sudan <i class="fas fa-check-circle" style="color:#45d9fd;"></i></h6><% end %><%= link_to twitter_sudan_path do %><h6 class="card-subtitle mb-2 text-muted">@PKSudan</h6><% end %>
    <p class="card-text" style="margin-top:40px; mar"><strong>@BigBoyChad</strong> wow thanks! you guys took over 507 thousand refugees from us, thats insane.</p>
  </div>
</div>

<div class="card tweet" style="width: 30rem; margin-top:30px;">
  <div class="card-body">
    <img src="http://img.freeflagicons.com/thumb/square_icon/south_sudan/south_sudan_640.png" width="80px" style="border-radius:70px; border: 4px solid #fff; float: left; margin-right:20px;"/><%= link_to twitter_switzerland_path do %><h6 class="card-title" style="margin-top:16px;">South Sudan <i class="fas fa-check-circle" style="color:#45d9fd;"></i></h6><% end %><%= link_to twitter_switzerland_path do %><h6 class="card-subtitle mb-2 text-muted">@SouthPKSudan</h6><% end %>
    <p class="card-text" style="margin-top:40px; mar"><strong>@PKSudan</strong> #independent</p>
  </div>
</div>
<div class="card tweet" style="width: 30rem;">
  <div class="card-body">
    <img src="https://rlv.zcache.com/sudan_national_world_flag_square_sticker-r4b85dd6310354e5aaac49098c9b94c68_v9wf3_8byvr_324.jpg" height="80px" width="80px" style="border-radius:70px; border: 4px solid #fff; float: left; margin-right:20px;"/><%= link_to twitter_sudan_path do %><h6 class="card-title" style="margin-top:16px;">Sudan <i class="fas fa-check-circle" style="color:#45d9fd;"></i></h6><% end %><%= link_to twitter_sudan_path do %><h6 class="card-subtitle mb-2 text-muted">@PKSudan</h6><% end %>
    <p class="card-text" style="margin-top:40px; mar"><strong>@SouthPKSudan</strong> #blocked</p>
  </div>
</div>

<div class="card tweet" style="width: 30rem; margin-top:30px;">
  <div class="card-body">
    <img src="https://cdn.countryflags.com/thumbs/nigeria/flag-square-250.png" width="80px" style="border-radius:70px; border: 4px solid #fff; float: left; margin-right:20px;"/><%= link_to twitter_switzerland_path do %><h6 class="card-title" style="margin-top:16px;">Nigeria <i class="fas fa-check-circle" style="color:#45d9fd;"></i></h6><% end %><%= link_to twitter_switzerland_path do %><h6 class="card-subtitle mb-2 text-muted">@Nigeria</h6><% end %>
    <p class="card-text" style="margin-top:40px; mar"><strong>@PKSudan</strong> yo can you please make more of an effort to stop sex trafficking from <strong>@SouthPKSudan</strong>, <strong>@YouCantBeSyria-s</strong> and most of east and west africa?? (this includes us!!!)</p>
  </div>
</div>
<div class="card tweet" style="width: 30rem; margin-bottom:100px;">
  <div class="card-body">
    <img src="https://rlv.zcache.com/sudan_national_world_flag_square_sticker-r4b85dd6310354e5aaac49098c9b94c68_v9wf3_8byvr_324.jpg" height="80px" width="80px" style="border-radius:70px; border: 4px solid #fff; float: left; margin-right:20px;"/><%= link_to twitter_sudan_path do %><h6 class="card-title" style="margin-top:16px;">Sudan <i class="fas fa-check-circle" style="color:#45d9fd;"></i></h6><% end %><%= link_to twitter_sudan_path do %><h6 class="card-subtitle mb-2 text-muted">@PKSudan</h6><% end %>
    <p class="card-text" style="margin-top:40px; mar"><strong>@Nigeria</strong> I know we don't follow the minimum standards to eliminate sex trafficking, but trust me, we are working on a plan :)</p>
  </div>
</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
  <h4 style="text-align:center;">You're done! Go back to: <a href="/twitter">Switzerland</a>, <a href="/twitter/htwitter">Hungary</a></h4>
</nav>
<style>
  body {
    background-color: #f2f2f2;
    padding-bottom: 100px;
  }
  .navbar {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  .card {
    border-radius: 0;
    border: none;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    margin-left: 50px;
    font-family: 'Lato';
  }
  .card-subtitle {
    font-weight: 300;
    font-family: 'Lato';
  }
  .card-title {
    font-weight: 700;
    color: #444;
  }
  .info {
    margin-top: 20px;
  }
  .desc {
    margin-bottom: 2px;
    font-weight: 700;
    color: #777;
    font-family: 'Lato';
    font-size: 13px;
  }
  .amount {
    font-weight: 700;
    color: #45d9fd;
    font-family: 'Lato';
    font-size: 23px;
  }
  .section {
    display: inline-block;
    margin-right: 20px;
    margin-left: 15px;
  }
  .nav-item {
    font-weight: 700;
    margin-left: 20px;
  }
  .tweet {
    position: relative;
    float: right;
    margin-right: 25rem;
  }
  .ad {
    position: absolute;
    right: 50px;
  }
  p > strong, p > i {
    color: #45d9fd;
  }
</style>
